* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body > * {
    margin: 20px auto;
    width: 800px;
}


header {
    /* background-color: rgb(207, 54, 207); */
    height: 50px;
}

header >img {
    height: 100%;
    padding-right: 5px;
    border-right:1px solid gray ;
}

.top {
    /* height: 400px; */
    /* background-color: rgba(255, 255, 0, 0.644); */
    margin-top: 40px;
    margin-bottom: 10px;
    background: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 250px 50% 50px 50px;
    border-radius: 5%;
    opacity: 0,4;
}

main .top h2 {
    color: white;
}

main .top p {
    color: white;
}

main {
    font-family: Arial, Helvetica, sans-serif
}

.bottom {
    height: 445px;
    /* background-color: blue; */
    margin: 5px;
}

.bottom::after {
    content: "";
    display: table;
    clear: both;
}
.titolo {
    /* background-color: aqua; */
    /* height: 50px; */
    margin-bottom: 10px;
}
.side_left {
    float: left;
    /* height: 400px; */
    width: 24%;
    /* background-color: aqua; */
    margin-right: 1%;
}

.side_central {
    float: left;
    height: 400px;
    width: 49%;
    /* background-color: aqua; */
    margin-right: 1%;
}

.side_right {
    float: left;
    height: 400px;
    width: 25%;
    /* background-color: aqua; */
}

footer {
    margin-top: 20px;
    /* height: 50px; */
    /* background-color: purple; */
}

li {
    display: inline-block;
  
}

header nav a {
    list-style: none;
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
    padding-right: 5px;
}

nav {
    margin-top: 10px;
}

.side_left img {
    width: 100%;
}

.side_central img {
    width: 100%;
}

.side_right img{
    width: 100%;
}

footer h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}



